.btn {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: initial;
    padding: $btn--padding;
    border-radius: $btn--border-radius;
    font-size: $btn--font-size;
    font-weight: $btn--font-weight;
    text-transform: $btn--text-transform;
    line-height: $btn--line-height;
    cursor: pointer;
    outline: none;

    &:focus,
    &:focus:active,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-primary {
    background-color: $btn--primary-bg;
    color: $btn--primary-color;
    &:hover {
        opacity: 0.9;
    }
}

.btn-block{
    width: 100%;
}