
.input {
    font-size: $input--fontsize-s;
    background-color: $input--bg;
    border-radius: $input--border-radius;
    height: $input--height;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 $s;

    &::placeholder{
        color: $input--placeholder-color;
    }
}